<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <script src="chat.js"></script>
    <title>Neighbor</title>
</head>
<body>
    <% include header %>

    <div id = "chatting">
        <iframe src="https://service.dongledongle.com/Neighbor" frameborder="0" width="100%" height="500px"></iframe>
    </div>
    
    <% include footer %>
</body>
</html>