<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/editText.css">
    <title>Neighbor</title>
</head>
<body>
    <% include header %>
    <div id="editOutter">

        <div id="edit">
            
            <form action="/edt/<%=where%>" method="post" style="width: 1050px;">
                <div name="listName" id="listName">
                    <%=where%>
                </div>
                <input type="hidden" name="listName" value="<%=where%>">
                <div style="margin-top:30px; font-size: 25px; width:1050px">
                    제목
                </div>
                <input name="name" type="text" style="width: 1055px; height: 30px; font-size: 25px;">
                <div style="margin-top:30px; font-size: 25px; width:1050px">
                    글쓰기
                </div><textarea id="input" name="input" rows="10" cols="100" placeholder="여기에 작성하세요" style="font-size: 20px;"></textarea>
                <div id="btnDiv">
                    <button type="submit" class="Btn">작성</button>
                    <button type="button" class="Btn" onclick='back()'">취소</button>
                </div>
            </form>
        </div>
    </div>

    <% include footer %>
</body>
<script>
    function back() {
        history.back();
    }
</script>
</html>