<footer class="others">
    <ul>
        <li>고급 웹프로그래밍</li>
        <li>이길흥 교수님</li>
        <li>화요일 오후반</li>
    </ul>

    <ul>
        <li>프론트엔드 개발자</li>
        <li>17101229-이승호</li> 
        <li>010-4165-9853</li>
    </ul>

    <ul>
        <li>백엔드 개발자</li>
        <li>17101247-차민재</li>
        <li>010-2923-9863</li>
    </ul>

    <ul>
        <li>개발 기간</li>
        <li>2021-11-03</li>
        <li>~</li>
    </ul>
</footer>