<header class="signBar">
    <div class="logo">
        <a href="/">Neighbor</a>
    </div>
        <ul class="top">
            <% if(session.email) { %> 
            <li><%= session.name %></li>
            <li><a href="/logout">로그아웃</a></li>
            <li><a href="/pwConfirm">마이페이지</a></li>
            <% } else { %>
            <li><a href="/sign_in">로그인</a></li>
            <li><a href="/sign_up">회원가입</a></li>
            <% } %> 
        </ul>
</header>