<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="main.js"></script>    
    <script src="https://kit.fontawesome.com/a5f3739fb3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Neighbor</title>
</head>
<body>
    <% include header %>

    <div id="outter">
        <div id="wrapImageDiv">
            <div id="picture">
            </div>
        </div>
        <div id="btnDiv">
            <ul>
                <li><button onclick="location.href='/mainBoard'">게시판</button></li>
                <li><button onclick="location.href='/map'">지도</button></li>
                <li><button onclick="location.href='/chat'">채팅</button></li>
            </ul>
        </div>
    </div>

    <% include footer %>
</body>
</html>