<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Neighbor</title>
</head>
<body>
    
    <% include header %>
    <div id="wholeBoard">
        <div id="list">
            <ul id="outList">
                <li style="font-size: 20px; margin-bottom: 10px;">Neighbor</li>
                <li class="listTitle">
                    마이페이지
                </li>
                <li>
                    <ul class="child">
                        <li><a href="/myPage">ㄴ내가 쓴 글</a></li>
                        <li><a href="/profile">ㄴ프로필 변경</a></li>
                        <li style="margin-bottom: 10px;"><a href="/delId">ㄴ회원탈퇴</a></li>
                    </ul>
                
            </ul>
        </div>
        <div class="showBoard">
            <div class="test" id="event">
                <nav class="range" style="display:flex; padding-top:50px; margin-left: 30px;">
                    <span id="title">프로필 변경</span>
                </nav>
                <form method="post" action="" style="margin-top:20px;  margin-left: 50px;">
                    <div>
                        닉네임 <span style="margin-left: 50px;">나른행</span>
                    </div>
                    <div>
                        아이디 <span style="margin-left: 50px;">xuwrgaf</span>
                    </div>
                    <div>
                        비밀번호<input type="password" class="password" id="pw" name="pw" placeholder="비밀번호" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호'" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" title="소문자, 숫자, 특수문자 사용 8~16자리" required>
                    </div>
                    <div>
                        비밀번호 확인<input type="password" class="password" id="confirm_pw" name="confirm_pw" placeholder="비밀번호 확인" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호 확인'" required>
                        <div id="alert_success" style="color: blue;">비밀번호가 일치합니다.</div>
                        <div id="alert_danger" style="color: #d92742;">비밀번호가 일치하지 않습니다.</div>
                    </div>
            
                    <div>
                        전화번호
                        <input type="text" pattern="[0-9]{11,11}$" name="phone" class="phone" id="phone" placeholder="전화번호" onfocus="this.placeholder=''" onblur="this.placeholder='전화번호'" title="-없이 숫자 11자리를 입력하세요." required>
                    </div>
                    <div>
                        생년월일
                        <input type="date" id="birth" name="birth" placeholder="생년월일" onfocus="this.placeholder=''" onblur="this.placeholder='생년월일'" required>
                    </div>
                    <div>
                        <ul class="add" id="newinfo">
                            <li>
                                주소
                                <input type="text" id="postcode1" name="postcode" placeholder="우편번호" autocomplete="off">
                                <button class="address_button" name="address_button" type="button" onclick="execDaumPostcode()">주소 찾기</button>
                            </li>
                            <li><input type="text" id="modifyAddress1" name="modifyAddress" placeholder="주소" autocomplete="off"><br></li>
                            <li>
                                <input type="text" id="detailAddress1" name="detailAddress" placeholder="상세주소" autocomplete="off">
                                <input type="text" id="extraAddress1" name="extraAddress" placeholder="참고항목" autocomplete="off">
                            </li>
                        </ul>
                    </div>
                    <button type="submit" id="mod_btn" value="submit">수정</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
<% include footer %>
</body>
<script>


$(function() {
  $("#alert_success").hide();
  $("#alert_danger").hide();
  $("input").keyup(function(){
      var pwd1=$("#pw").val();
      var pwd2=$("#confirm_pw").val();
      if(pwd1 != "" || pwd2 != ""){
          if(pwd2 !=""){
              if(pwd1 == pwd2){
              $("#alert_success").show();
              $("#alert_danger").hide();
              $("#sign_btn").removeAttr("disabled");
          }else{
              $("#alert_success").hide();
              $("#alert_danger").show();
              $("#sign_btn").attr("disabled", "disabled");
          }
      }
          }
  })
})
    function execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("extraAddress1").value = extraAddr;
            
            } else {
                document.getElementById("extraAddress1").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('postcode1').value = data.zonecode;
            document.getElementById("modifyAddress1").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("detailAddress1").focus();
        }
    }).open();
}
</script>
</html>