<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/readMsg.css">
    <title>Neighbor</title>
</head>
<body>
    <div>
        <header>쪽지 답장</header>
        <div id="show"><%=row[0].cont%></div>
        <form action="/sendSms/<%=who%>/<%=session.name%>" method="post">
            <div id="in"><textarea name="input" required></textarea></div>
            <button type="submit">전송</button>
        </form>
        <button type="button" onclick="location.href='/message/1'">확인</button>
    </div>
</body>
</html>