/*header*/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  outline: none;
}

.signBar {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #a9f5e1;
  height: 40px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

.top {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}
.top a {
  color: #088a85;
  font-size: 15px;
  outline: none;
}
.top li {
  padding: 0px 20px;
}

/*아이템들 div*/
.display2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.display2 .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
}
p {
  font-size: 20px;
}
.items .item_div {
  width: 250px;
  height: 300px;
}
.items .item_div > ul {
  display: none;
  position: absolute;
  background: white;
}
.items .item_div:hover > ul {
  display: block;
}
.items .text_div {
  width: 250px;
  height: 30px;
  text-align: center;
}
.items a {
  display: flex;
  width: 250px;
  height: 330px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 20px;
  border: 0px;
}
.item a:hover {
  display: flex;
  width: 250px;
  height: 330px;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 20px;
  border: 0px;
}

.items img {
  width: 250px;
  height: 300px;
  border: 1px solid gainsboro;
}

/*footer*/
.others {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  border-top: 1px solid black;
}

/*너비 줄어들면 어느순간 고정*/
@media screen and (max-width: 1100px) {
  html {
    width: 1100px;
  }
}
